*{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body {
    background-color: #f0f0f0;
    color: #443200;
    line-height: 1.6;
    
}
.artesanias-section {
    background: linear-gradient(to right, #fff385, #ffffff);
    padding: 20px 10px;
    margin-top: 100px;
    margin: 10px 0 50px 0;
    margin-bottom: -0.5px;
    
    
}
.intro-artesanias {
  text-align: center;
  margin: 60px auto 40px;
  max-width: 900px;
  color: #000000;
  line-height: 1.5;
  padding: 0 20px;
}
.intro-artesanias h2 {
  font-size: 2.5em;
  font-weight: 600;
  color: #473100;
  margin-bottom: 10px;
}
.intro-artesanias p {
  font-size: 1.2em;
  font-family: 'sans-serif', sans-serif;
  color: #000000;
  margin: 0 auto;
  max-width: 800px;
}
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.card {
    width: 290px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.card img {
    width: 100%;
    height: 200px;
}
.card-content {
    padding: 16px;
    text-align: center  ;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.card-content h3 {
    margin: 18px;
    margin-bottom: 10px;
}
.card-content p {
    flex-grow: 1;
    color: #000000;
    font-size: 15px;
    line-height: 1.3;
}
.card-content .btn {
    display: block;       
    width: 120px;          
    margin: 12px auto 0;   
    padding: 6px 10px;
    background-color: #b17301fb;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;    
    transition: background-color 0.3s;
}
.card-content .btn:hover {
  background-color: #e7bb68;
  color: #000000;
  transform: scale(1.05);
}
