/*FOOTER ESTILOS */
.footer {
  background: #0a0a0a;
  color: #fff;
  padding: 50px 0 20px;
  font-family: 'Poppins', sans-serif;
  margin-top: 80px;
  margin-bottom: -80px;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

/* Títulos del footer */
.footer h3,
.footer h4 {
  font-weight: 700;
  margin-bottom: 15px;
  color: #fbc02d; /* Amarillo similar al que usas */
}

/* Logo del footer */
.footer-logo {
  width: 90px;
  margin-top: 10px;
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.3));
}

/* Párrafos */
.footer p {
  opacity: 0.8;
  font-size: 14px;
  line-height: 1.6;
}

/* Enlaces */
.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: #ffffffb3;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
}

.footer-links a:hover {
  color: #fbc02d;
  text-decoration: underline;
}

.footer-bottom{
    text-align: right;
    padding: 20px;
}
